<div *ngIf="stop">

  <div nz-row>
    <div nz-col nzSpan="23">
      <h2>
        <img class="img" src="assets/images/stop.png" alt="img">
        {{stop.name}}
      </h2>
    </div>
    <div nz-col nzSpan="1" class="icon">
      <i *ngIf="!favorite" nz-icon [nzType]="'heart'" [nzTheme]="" (click)="setFavorite()"> </i>
      <i *ngIf="favorite" nz-icon [nzType]="'heart'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'" (click)="setFavorite()"> </i>
    </div>
  </div>

  <div nz-row class="detailsContainer">
    <div nz-col nzSpan="12">
      <app-departures [id]="stop.id"></app-departures>
    </div>

    <div nz-col nzSpan="12">
      <app-arrivals [id]="stop.id"></app-arrivals>
    </div>

  </div>

</div>
